(caddy_tls_custom) {
    tls {{ jupyterhub_ssl_cert_file }} {{ jupyterhub_ssl_key_file }}
}

{{ jupyterhub_fqdn }}:443 {
    proxy / {{ jupyterhub_connect_url }} {
        transparent
        websocket
        header_upstream Sec-WebSocket-Extensions {>Sec-WebSocket-Extensions}
        header_upstream Sec-WebSocket-Key {>Sec-WebSocket-Key}
        header_upstream Sec-WebSocket-Version {>Sec-WebSocket-Version}
        max_fails 10
        fail_timeout 30s
        keepalive 1
    }
    import caddy_tls_custom
    timeouts none
    log stdout
    errors stdout
}