[Unit]
Description=Caddy Service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/caddy
ExecStart=/opt/caddy/bin/caddy --conf /etc/caddy/Caddyfile --log stdout --agree=false
Environment="PATH=/bin:/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ jupyterhub_default_conda_path }}/bin"
Restart=on-failure
PrivateTmp=yes
Restart=always
RestartSec=10
LimitNOFILE=65356
LimitNPROC=65356

[Install]
WantedBy=multi-user.target
