[Unit]
Description=Jupyter Notebook
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ jupyterhub_user }}
Group={{ jupyterhub_group }}
WorkingDirectory={{ jupyterhub_root_path }}
ExecStart={{ jupyterhub_default_conda_path }}/bin/jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner
Restart=on-failure
PrivateTmp=yes
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
